@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .separator-top {
        clip-path: polygon(0 100%, 100% 100%, 100% 0);
    }
    .separator-bot {
        clip-path: polygon(100% 0, 0 0, 0 100%);
    }
    .separator-top-2 {
        clip-path: polygon(0 100%, 0 0, 100% 100%);
    }
    .separator-bot-2 {
        clip-path: polygon(100% 100%, 100% 0, 0 0);
    }
    .card-active {
        width: 20rem;
        border-radius: 1.5rem;
    }
    .textbox-active {
        width: 18rem;
        height: 18rem;
        border-radius: 1.5rem;
    }
    .overflow-wrap-anywhere {
        overflow-wrap: break-word;
    }
  }

  ::-webkit-scrollbar{width: 5px;}
  ::-webkit-scrollbar-track {
    background-color: rgb(53, 50, 50);
    border-radius: 25px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: blueviolet;
    border-radius: 25px;
  }
  
.slider {
    transform-style: preserve-3d;
    animation: rotate 50s linear infinite;
}
@keyframes rotate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }      

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.slider span {
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}

.slider span:hover img{
    transform: translateY(-50%) scale(1.2);
}

.zeubi-la-mouche {
    visibility: hidden;
}