@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .separator-top {
        clip-path: polygon(0 100%, 100% 100%, 100% 0);
    }
    .separator-bot {
        clip-path: polygon(100% 0, 0 0, 0 100%);
    }
    .separator-top-2 {
        clip-path: polygon(0 100%, 0 0, 100% 100%);
    }
    .separator-bot-2 {
        clip-path: polygon(100% 100%, 100% 0, 0 0);
    }
    .card-active {
        width: 20rem;
        border-radius: 1.5rem;
    }
    .textbox-active {
        width: 18rem;
        height: 18rem;
        border-radius: 1.5rem;
    }
    .overflow-wrap-anywhere {
        overflow-wrap: break-word;
    }
  }

  ::-webkit-scrollbar{width: 5px;}
  ::-webkit-scrollbar-track {
    background-color: rgb(53, 50, 50);
    border-radius: 25px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: blueviolet;
    border-radius: 25px;
  }
  
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}
#radio4:checked ~ .first {
    margin-left: -60%;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #40D3DC;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #40D3DC;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #40D3DC;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #40D3DC;
}